<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>Frantz Testing Github Pages</title>
</head>
<body>
    <!-- The navigation bar begin -->
    <section class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">More-receipes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Recipes <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-default my-2 my-sm-0" type="button">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Register<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Submit recipes<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
    </section>
    <!-- The navigation bar ending -->


    <div class="container-fluid">
        <div class="jumbotron text-center">
                <h1 class="display-3">More-Recipes!</h1>
                <br>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <br>
                <p class="lead">
                    <a href="" class="btn btn-primary btn-lg" role="button">Submit a recipe</a>
                </p>
            </div>
    </div>

    <div class="container">
        <h1 class="display-4 text-center">Top Rated Recipes</h1>
        <br>
        <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/KH1os7I.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pressurized African Cassava Golden Grains ( Garri )</h5>
                        <hr>
                        <p class="text-sm">
                            <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                            <span class="text-muted float-right">35 min</span>
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                        </p>
                        <p class="text-muted h6 text-center">
                            <span class="mr-3 h5"><i class="ion ion-thumbsup"></i> 12 </span>
                            <span class="mr-3 h5"><i class="ion ion-thumbsdown"></i> 5301</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/fU1OmUo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Emergency Jollof</h5>
                        <hr>
                        <p class="text-sm">
                            <small><span class="text-muted">by</span> Kati Frantz</small>
                            <span class="text-muted float-right">2 min</span>
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                        </p>
                        <p class="text-muted h6 text-center">
                            <span class="mr-3 h5"><i class="ion ion-thumbsup"></i> 531,233 </span>
                            <span class="mr-3 h5"><i class="ion ion-thumbsdown"></i> 0</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/av7fjeA.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Advanced Abacha and Egg sauce</h5>
                        <hr>
                        <p class="text-sm">
                            <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                            <span class="text-muted float-right">35 min</span>
                        </p>
                        <p class="text-center">
                            <a href="single-recipe.html" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                        </p>
                        <p class="text-muted h6 text-center">
                            <span class="mr-3 h5"><i class="ion ion-thumbsup"></i> 2 </span>
                            <span class="mr-3 h5"><i class="ion ion-thumbsdown"></i> 11</span>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    
    <h1 class="mt-3 mb-3"></h1>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>