<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">    
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <title>Janet's profile</title>
</head>
<body>
    <!-- The navigation bar begin -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" class="navbar-logo-img mr-2" alt="">
            More-recipes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="create-recipe.html" class="nav-link create-recipe-link">Create recipe <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img class="mr-2 navbar-avatar-img" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                Hey, Kati Frantz
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="profile.html">My profile</a>
                            <a class="dropdown-item" href="favorites.html">My favorites</a>
                            <a class="dropdown-item" href="settings.html">Notification settings</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>
    <!-- The navigation bar ending -->


    <!-- Page body section -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 text-center">

                <!-- Profile avatar -->
                <div class="justify-content-center mx-auto my-5">
                    <img style="width: 90px; height: 90px; border-radius: 100%;" src="http://i.pravatar.cc/500" alt="Recipe author avatar">
                </div>
                <!-- End of profile avatar -->

                <!-- User name -->
                <h1 class="text-center header-color">Kati Frantz</h1>
                <!-- End user name -->

                <!-- User stats -->
                <p class="text-center my-4">
                    <span class="mr-3 h2 header-color"> 531,233 </span> <span class="h6 mr-3"><a href="/user-recipes.html" class="color-darker">RECIPES</a></span>
                    <span class="mr-3 h2 header-color"> 531 </span> <span class="h6">REVIEWS</span>
                </p>
                <!-- End user stats -->

                <!-- User bio -->
                <p class="text-center my-4">
                    I am an Andela developer, with a great passion for cooking. 
                    I'm in charge of organizing birthday parties for my fellow andelans. 
                    What's the meal you wanna cook for your next event ? 
                    Hit me up for a recipe. 
                </p>
                <!-- End user bio -->

                
            </div>
        </div>
    </div>
    <!-- End of the page body section -->

    <!--Begin page footer -->
    <footer class="footer">
        <p>More-recipes app by bahdcoder @andela</p>
    </footer>
    <!-- End page footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>