<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">    
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <title>More-Recipes </title>
    </head>
<body>
    

    <!-- The navigation bar begin -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" class="navbar-logo-img mr-2" alt="">
            More-recipes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="create-recipe.html" class="nav-link create-recipe-link">Create recipe <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img class="mr-2 navbar-avatar-img" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                Hey, Kati Frantz
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="profile.html">My profile</a>
                            <a class="dropdown-item" href="favorites.html">My favorites</a>
                            <a class="dropdown-item" href="settings.html">Notification settings</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>
    <!-- The navigation bar ending -->

    <!-- The recipes page body -->
    <div class="container-fluid my-5">
        <!-- Header -->
        <h1 class="text-center display-3 my-5">All Recipes</h1>
        <!-- End Header -->
        <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-4">
                            <input type="text" placeholder="Keywords..." class="form-control mb-3">
                    </div>
                    <div class="col-lg-4">
                            <select class="form-control mb-3">
                                <option> Sort By</option>
                                <option>Date</option>
                                <option>Popularity</option>
                                <option>Most Favorited</option>
                                <option>Up votes</option>
                            </select>
                    </div>
                    <div class="col-lg-4">
                            <select class="form-control mb-5">
                                <option> Categories</option>
                                <option>Fufus</option>
                                <option>Soups</option>
                                <option>Yoruba</option>
                                <option>Salads</option>
                            </select>
                    </div>
                </div>
        </div>

        <div class="row justify-content-center mt-3">

            <!-- Search filters section -->

            <!-- End of search filters section -->

            
            <div class="col-lg-10 mb-5">

                <!-- List of filtered recipes -->
                <div class="card-deck wow fadeIn" data-wow-duration="4s">
                        <div class="card mb-3">
                            <div class="img-zoom">
                                <img class="card-img-top" style="height: 250px;" src="img/meal-4.jpg" alt="Card image cap">                

                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <a href="single-recipe.html">Pressurized African Cassava Golden Grains ( Garri )</a>
                                </h5>
                                <hr>
                                <p class="text-sm mb-5">
                                    <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                                    <span class="text-muted float-right">
                                            <i class="ion ion-clock"></i>
                                        35 min</span>
                                </p>
                                
                                <p class="h6 text-center">
                                    <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                    <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                    <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="img-zoom">
                                <img class="card-img-top" style="height: 250px;" src="img/meal-5.jpg" alt="Card image cap">                

                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <a href="single-recipe.html">Emergency Jollof and coconut stew</a>
                                </h5>
                                <hr>
                                <p class="text-sm mb-5">
                                    <small><span class="text-muted">by</span> Kati Frantz</small>
                                    <span class="text-muted float-right">
                                            <i class="ion ion-clock"></i>
                                        2 min</span>
                                </p>
                                <p class="h6 text-center">
                                    <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                    <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                    <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="img-zoom">
                                <img class="card-img-top" style="height: 250px;" src="img/meal-6.jpg" alt="Card image cap">                

                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <a href="single-recipe.html">Advanced Abacha and Egg sauce</a>
                                </h5>
                                <hr>
                                <p class="text-sm mb-5">
                                    <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                                    <span class="text-muted float-right">
                                            <i class="ion ion-clock"></i>
                                        35 min</span>
                                </p>
                                <p class="h6 text-center">
                                    <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                    <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                    <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                                </p>
                            </div>
                        </div>
                    </div>
                <!-- End List of filtered recipes -->
                    <br>
                    
                <!-- Pagination links  -->
                <nav class="row mt-5 justify-content-center">
                    <ul class="pagination pagination-lg">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- End of pagination links -->

            </div>
        </div>

    </div>
    <!-- End of The recipes page body -->

    <!--Begin page footer -->
    <footer class="footer">
        <p>More-recipes app by bahdcoder @andela</p>
    </footer>
    <!-- End page footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>