<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">    
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Register</title>
</head>
<body>

    
    <!-- The navigation bar begin -->
    <section class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- Navigation logo brand -->
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png" class="navbar-logo-img mr-2" alt="">
                    More-recipes
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- End Navigation logo brand -->
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left navigation links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <!-- End Left navigation links -->

                    <!-- Navigation Search Form -->
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0" type="button">Search</button>
                    </form>
                    <!-- End Navigation Search Form -->

                    <!-- Right navigation links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">Login <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <!-- End Right navigation links -->


                </div>
            </nav>
    </section>
    <!-- The navigation bar ending -->


    <!-- The register form -->
    <br><br><br>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                                <form>
                                    <h3 class="text-center mb-3 mt-3">Register</h3>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-3 col-form-label">First & Last Names</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="Kati Frantz">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                        <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                                        <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                                        <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button class="btn btn-primary form-control" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- End of the register form -->

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>