<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">    
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Create recipe</title>
</head>
<body>
     <!-- The navigation bar begin -->
     <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" class="navbar-logo-img mr-2" alt="">
            More-recipes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="create-recipe.html" class="nav-link create-recipe-link">Create recipe <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img class="mr-2 navbar-avatar-img" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                Hey, Kati Frantz
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="profile.html">My profile</a>
                            <a class="dropdown-item" href="favorites.html">My favorites</a>
                            <a class="dropdown-item" href="settings.html">Notification settings</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>
    <!-- The navigation bar ending -->

    <!-- Display the recipe details  -->
    <div class="container my-5">
        <div class="row justify-content-center">
                <div class="col-8">
                        <!-- Begin card details -->
                        <div class="card">
                                <img class="card-img-top" style="max-height: 450px;" src="img/meal-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h1 class="card-title text-center h4 mb-4">Emergency Jollof and Coconut stew
                                            <small class="text-muted" style="font-size: 15px;">   
                                                <i class="ion ion-clock"></i>
                                                2 min
                                            </small>
                                    </h1>
                                    <p class="text-center my-4">
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga
                                    </p>
                                    <hr>
                                    <div class="media text-center mx-auto my-5" style="width: 200px;">
                                        <img class="d-flex mr-3" style="width: 60px; height: 60px; border-radius: 100%;" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                        <div class="media-body">
                                            <h5 class="mt-3">Kati Frantz</h5>
                                        </div>
                                    </div>
                                    <p class="text-muted h6 text-center my-4">
                                        <span class="mr-3 h3"><i class="ion ion-happy-outline"></i> 531,233 </span>
                                        <span class="mr-3 h3"><i class="ion ion-sad-outline"></i> 0</span>
                                        <span class="mr-3 h3"><i class="ion ion-ios-heart"></i> 33</span>
                                    </p>
                                    
                                    <hr>


                                    <!-- Begin ingredients section -->
                                    <h3 class="mb-3 text-muted">Ingredients</h3>
                                    <ul class="list-group mt-3">
                                        <li class="list-group-item">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                    <!-- End ingredients section -->

                                    <!-- Begin procedures section -->
                                    <h3 class="mb-3 mt-3 text-muted">Procedure</h3>
                                    <ul class="list-group my-3">
                                        <li class="list-group-item"><span class="badge badge-primary">1</span>   Cras justo odio</li>
                                        <li class="list-group-item"><span class="badge badge-primary">2</span> Dapibus ac facilisis in</li>
                                        <li class="list-group-item"><span class="badge badge-primary">3</span> Morbi leo risus</li>
                                        <li class="list-group-item"><span class="badge badge-primary">4</span> Porta ac consectetur ac</li>
                                        <li class="list-group-item"><span class="badge badge-primary">5</span> Vestibulum at eros</li>
                                    </ul>
                                    <h3 class="my-3 text-muted">Reviews</h3>
                                    <!-- End procedures section -->

                                    <!-- Reviews section -->
                                    <div class="container my-4">
                                        <div class="row justify-content-center">
                                                <div class="col-10">
                                                        <div class="media">
                                                            <img class="d-flex mr-3" style="width: 60px; height: 60px; border-radius: 100%;" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                                            <div class="media-body">
                                                                I have just one thing to tell you. Please go to medical school, you have no hope in cooking.
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="media">
                                                            <img class="d-flex mr-3" style="width: 60px; height: 60px; border-radius: 100%;" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                                            <div class="media-body">
                                                                If not that am a christian ehn, I would just pray juju for your head now. Wetin be this ???!😨😨 
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- End reviews section -->
                                    
                                    <!-- Begin create reviews section -->
                                    <h3 class="mb-3 mt-3 text-muted">Leave a review</h3>
                                    <textarea cols="5" rows="5" class="form-control" placeholder="Leave a review for this recipe..."></textarea>
                                    <button class="btn btn-primary btn-sm mt-3 float-right">Save review</button>
                                    <!-- End create review section -->

                                </div>
                            </div>
                        <!-- End of card details  -->
                </div>
                <div class="col-4">
                        <h3 class="text-center my-5">Similar recipes</h3>
                        <div class="card mb-3">
                            <div class="img-zoom">
                                <img class="card-img-top" style="height: 200px;" src="img/meal-6.jpg" alt="Card image cap">                
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-center">
                                    <a href="single-recipe.html">Italian Pepperonni with mushroom coverings</a>
                                </h6>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="img-zoom">
                                <img class="card-img-top" style="height: 200px;" src="img/meal-2.jpg" alt="Card image cap">                
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-center">
                                    <a href="single-recipe.html">Pressurized African Cassava Golden Grains</a>
                                </h6>
                            </div>
                        </div>
                        <h3 class="text-center my-5">Top notch chefs</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="card-title">Kati Frantz</span></li>
                            <li class="list-group-item"><span class="card-title">Irene Myers</span></li>
                            <li class="list-group-item"><span class="card-title">Doctor Strange</span></li>
                            <li class="list-group-item"><span class="card-title">Nadine Almendi F.</span></li>
                        </ul>
                </div>
        </div>
    </div>
    <!-- End of Display the recipe details  -->

    <!--Begin page footer -->
    <footer class="footer">
        <p>More-recipes app by bahdcoder @andela</p>
    </footer>
    <!-- End page footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>