<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">    
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Frantz' Recipes</title>
</head>
<body>

    <!-- The navigation bar begin -->
    <section class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- Navigation logo brand -->
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png" class="navbar-logo-img mr-2" alt="">
                    More-recipes
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- End Navigation logo brand -->
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left navigation links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                     <!-- End Left navigation links -->

                     <!-- Navigation Search Form -->
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-default my-2 my-sm-0" type="button">Search</button>
                    </form>
                    <!-- End Navigation Search Form -->

                    <!-- Right navigation links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="create-recipe.html" class="nav-link">Create recipe <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="mr-2 navbar-avatar-img" src="http://i.pravatar.cc/300" alt="Recipe author avatar">
                                    Hey, Kati Frantz
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="profile.html">My profile</a>
                                <a class="dropdown-item" href="favorites.html">My favorites</a>
                                <a class="dropdown-item" href="settings.html">Notification settings</a>
                            </div>
                        </li>
                    </ul>
                    <!-- End Right navigation links -->


                </div>
            </nav>
    </section>
    <!-- The navigation bar ending -->


    <!-- Begin page body -->
    <div class="container my-5">
        <div class="row">
            <div class="col-12">

                <!-- Favorites Page title -->
                <h1 class="text-center my-5 display-4">
                    Frantz's Recipes
                </h1>
                <!-- End favorites Page title -->

                <!-- List of favorite recipes section -->
                <div class="card-deck">
                    <div class="card mb-3">
                        <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/KH1os7I.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Pressurized African Cassava Golden Grains ( Garri )</h5>
                            <hr>
                            <p class="text-sm">
                                <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                                <span class="text-muted float-right">
                                        <i class="ion ion-clock"></i>
                                    35 min</span>
                            </p>
                            <p class="text-center">
                                <a href="single-recipe.html" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                            </p>
                            <p class="text-muted h6 text-center">
                                <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                            </p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/fU1OmUo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Emergency Jollof and coconut stew</h5>
                            <hr>
                            <p class="text-sm">
                                <small><span class="text-muted">by</span> Kati Frantz</small>
                                <span class="text-muted float-right">
                                        <i class="ion ion-clock"></i>
                                    2 min</span>
                            </p>
                            <p class="text-center">
                                <a href="single-recipe.html" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                            </p>
                            <p class="text-muted h6 text-center">
                                <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                            </p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <img class="card-img-top" style="height: 250px;" src="https://i.imgur.com/av7fjeA.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Advanced Abacha and Egg sauce</h5>
                            <hr>
                            <p class="text-sm">
                                <small><span class="text-muted">by</span> Elizabeth  Funkirokeze</small>
                                <span class="text-muted float-right">
                                        <i class="ion ion-clock"></i>
                                    35 min</span>
                            </p>
                            <p class="text-center">
                                <a href="single-recipe.html" class="btn btn-sm btn-primary">Checkout Recipe</a>                            
                            </p>
                            <p class="text-muted h6 text-center">
                                <span class="mr-3 h5"><i class="ion ion-happy-outline"></i> 12 </span>
                                <span class="mr-3 h5"><i class="ion ion-sad-outline"></i> 5,301</span>
                                <span class="mr-3 h5"><i class="ion ion-ios-heart"></i> 5,301</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End list of favorite recipes section -->

            </div>
        </div>
    </div>
    <!-- End page body -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>