body {
    background-image: url('./../img/bg.png');
}
/* change the background color */
.navbar-custom {
    background-color: #E27C3E;
    opacity: 0.8;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    font-weight: 700;
}
.navbar-logo-img {
    width: 30px;
    height: 30px;
}

.jumbotron-logo-img {
    width: 180px;
    height: 180px;
}

.jumbotron {
    background-image: url('./../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron-title {
    color: white;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-item .create-recipe-link {
    color: white;
    font-weight: 700;
    padding: 10px;
    background-color: #8bad00;
}

.navbar-avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.upload-recipe-img {
    background-color: rgba(0,0,0,.2);
    height: 190px;
    padding: 60px;
    color: rgba(0,0,0,.6);
    font-weight: bolder;
}

.card-title {
    color: #8bad00;
    font-weight: bolder;
}

.card-title a {
    text-decoration: none;
    color: #8bad00;
}
.display-4, .display-1, .display-2, .display-3, .display-5, 
.ion {
    color: #E27C3E;
}

.header-color {
    color: #E27C3E;
}

.color-darker {
    color: #212529;
}

.ion .ion-text {
    color: #212529;
}

.btn-primary {
    background-color: #8bad00;
    border: 1px solid #8bad00;
}
.btn-primary:hover {
    background-color: #647c0c;
    border: 1px solid #647c0c;
}

.btn-primary:disabled {
    background-color: #8bad00;
    border: 1px solid #8bad00;
}
.badge-primary {
    background-color: #8bad00;
    border: 1px solid #8bad00;
}

.pagination > li > a {
    color: #8bad00;
}

.pagination > li > a:hover {
    color: #647c0c;
}

.pagination > li.active .page-link{
    background-color: #8bad00;
    border-color: #8bad00;
}